/* You may use the following selectors, but it's not required. */

body {
    font-family: 'Roboto', sans-serif;/* margin: 0 auto; */
    text-align: center;
    background: #a0e7ac;
}

#container {
    width: 960px;
    margin: 0px auto;
    padding: 30px 0px;
    font-style: bolder;
    /* margin: 0 auto; */
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.top-bar {
    font-family: 'Merriweather Sans', sans-serif;
    background: #77dd88;
    width: 100%;
    position: fixed;
    color: white;
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    padding: 18px 0px;

}

.search-bar input[type="text"] {
    font-family: 'Merriweather Sans', sans-serif;
    width: 300px;
    height: 24px;
    border: none;
}

.logo {
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 24px;
}

.location {
    float: right;
}

ul.search-bar {
    position: absolute;
    left: 130px;
    bottom: 14px;
}

.background-img {
    background-color: black;
    height: 100%;
    width: 100%;
}

#button-holder {
    float:right;
}

li.menu-item {
    float: right;
}

li.icon {
    float: right;
    display: inline-block;
}

#search-button {
    height: 26px;
}

li.location-item {
    float: right;
}

.change-location input[type="text"] {
    font-family: 'Merriweather Sans', sans-serif;
    width: 150px;
    height: 24px;
    border: none;
}

.sub-menu {
    background: #77dd88;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    left: 160px;
    top: 20px;
    visibility: hidden;

    }

.sub-item:hover .sub-menu {
    visibility: visible;
}

a {
    text-decoration: none;
    color: white;
}


#desc {
    float: left;
}

#thumbnail {
    float: left;

}

#thumbnail img {
	margin: 30;
	padding: 10;
	float: left;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

#header {font-size:  25px;font-weight: bold;/* font-style: italic; *//* margin: 0 auto; */}

#subheader {padding-bottom:  30px;font-style: italic;}

#description {margin: 0 auto;font-size: 15;line-height: 1.5;}


.list-container {
	padding: 30 20;
	background-color: #f5f5f5;
	display: table;
	margin: 0 auto;
	margin-bottom: 20px;
  	height: 100%;
 	width: 1000px; 
    background: #f5f5f5;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}



.list-title {
	margin: 10;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bolder;
    font-size: 25px;
	}

.list-content  {
	height:85%;
  	overflow:auto;
    background:#fff;
    text-align: center;
}

.list-item {
	background-color: white;
    margin: 20;
    padding: 10;
}

/* Dropdown Button */
.dropbtn {
    background-color: #77dd88;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 1040px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: center;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #77dd88;
}